.login-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
}

.pd-tp-1{
    padding: 1rem 0 0 0;
}

.login-right{
    display: flex;
    justify-content: center;
    flex-grow: 0.5;
}

.login-wrapper{
    min-height: 300px;
    height: max-content;
    width:400px;
    background-color: var(--white-color);
    color: var(--menu-bar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

@media screen and (max-width:600px){
    
    .login-right{
       padding: 1rem;
    }

    .login-wrapper{
        min-height: 200px;
        height: max-content;
        width:100%;
    }


    }

.flex-dir-column-login{
    gap:0.5rem;
    display: flex;
    flex-direction: column;
}

.login-inp{
    flex-grow: 1;
    padding: 0.6rem;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-cover{
    display: flex; 
    flex-grow: 0.5;
    background-color: var(--primary-color);
}

.login-right{
    margin: auto;
}

