.comments-container{
    display: flex;
    align-items: baseline;
}

.comment-area{
    font-family: "Roboto", sans-serif;
    padding: 0.5rem;
    resize: none;
    outline: none;
}

.comment-btn{
    padding: 0.5rem;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}