@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url(./Components/Sidebar/Sidebar.css);
@import url(./Components/Header/Header.css);
@import url(./pages/Home.css);
@import url(./Components/FeedWall/FeedWall.css);

*{
  margin: 0;
  padding: 0;
}


:root{
  --primary-color:#1D9BF0;
  --background-color:#F0F2F5;
  --white-color:#FFFF;
  --background-grey-color:#F5F6F7;
  /* --sidebar-child-background:#D7DADF; */
  --sidebar-child-background:#ebecef;
  --grey-color:#7F8184;
  --black-color:#212121;
}

.link-tag{
  text-decoration: none;
  outline: none;
  color: var(--black-color);
}

.App{
  min-height: 100vh;
  height: max-content;
  background-color: var(--background-color);
}

.App-body{
  display: flex;
}

