@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url(./Components/Sidebar/Sidebar.css);
@import url(./Components/Header/Header.css);

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary-color:#1D9BF0;
  --background-color:#F0F2F5;
  --white-color:#FFFF;
  --background-grey-color:#F5F6F7;
  --grey-color:#7F8184;
  --black-color:#212121;
}

.App{
  min-height: 100vh;
  height: max-content;
  background-color: var(--background-color);
}