
.username-tag-post{
    display: flex;
    flex-direction: column;
}

.text-post-card{
    padding: 1rem;
    border: 1px solid var(--sidebar-child-background);
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.15);
    background-color: var(--white-color);
}
.post-header{
    display: flex;
    gap: 0.5rem;
}

.text-post-header-wrap{
    display: flex;
    justify-content: space-between;
}

.post-content{
    padding: 1rem 0rem;
}

.post-image{
    width: 100%;
    height:300px;
    background-color: var(--primary-color);
}

.post-footer-child-left{
    display: flex;
    gap: 1rem;
    border-top: 1px solid var(--background-color);
    padding: 0.5rem 0;
}

.post-footer-icons{
    font-size: 1.7rem;
    cursor: pointer;
}